name: Trivy scan

on:
  pull_request:
    paths:
      - go.*
      - .github/workflows/trivy-scan.yml
  push:
    branches:
      - main
      - release-*.*.*
    paths:
      - go.*
      - .github/workflows/trivy-scan.yml

permissions:
  contents: read
  security-events: write

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.2
        with:
          version: v0.56.2
          cache: true

      - name: Download Trivy DB
        run: trivy fs --no-progress --download-db-only --db-repository public.ecr.aws/aquasecurity/trivy-db

      - name: Run Trivy vulnerability scanner (table)
        run: |
          trivy fs \
            --scanners vuln \
            --format table \
            --exit-code 1 \
            --ignore-unfixed \
            --pkg-types os,library \
            --severity CRITICAL,HIGH \
            --ignorefile .trivyignore \
            --skip-files yarn.lock,package.json \
            --skip-db-update \
            .

      - name: Run Trivy vulnerability scanner (SARIF)
        if: always()
        run: |
          trivy fs \
            --scanners vuln \
            --format sarif \
            --output trivy-results.sarif \
            --ignore-unfixed \
            --pkg-types os,library \
            --ignorefile .trivyignore \
            --skip-db-update \
            .

      - name: Upload Trivy results
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
